@model List<Entidades.DTO.EmployeesDTO>

@{
    ViewBag.Title = "Pagina Empleado";
}

<head>
    <style>

        .link-button {
            display: inline-block;
            border: 1px solid #000000;
            padding: 5px;
            border-radius: 5px;
            margin-right: 10px;
            text-decoration: none;
            color: #333;
        }

        .link-button:hover {
            background-color: #eee;
        }

        .insert-button {
            padding: 7px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: large;
        }

    </style>
</head>

<main>
    <body>
        <h1>
            Lista de empleados
        </h1>

        <div class="link-button insert-button">@Html.ActionLink("Insertar", "InsertView", new { area = "" }, new { @class = "nav-link" })</div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre completo</th>
                    <th scope="col"> Titulo </th>
                    <th scope="col"> Fecha de contratacion </th>
                    <th scope="col"> Ciudad </th>
                    <th scope="col"> Pais </th>
                    <th scope="col"> Teléfono </th>
                    <th scope="col"> Acciones </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.Title</td>
                            <td>@item.HireDate</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.HomePhone</td>
                            <td>
                                <div class="link-button">
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "nav-link" })
                                </div>
                                <div class="link-button">
                                    @Html.ActionLink("Actualizar", "UpdateView", item, new { @class = "nav-link" })
                                </div>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>

        function mostrarResultado() {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';

            if (successMessage) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: successMessage,
                    showConfirmButton: false,
                    timer: 1500
                })
            }

            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Ups...',
                    text: errorMessage,
                })
            }
        }

        mostrarResultado();
        </script>
    </body>
</main>




