@model Entidades.DTO.EmployeesDTO

@{
    ViewBag.Title = "Pagina Insertar Empleado";
}

<body>
    <h1>Insertar nuevo empleado</h1>

    @using (Html.BeginForm("Insert", "Empleado", FormMethod.Post))
    {
        <label class="p-2">Nombre: </label> @Html.TextBoxFor(e => e.FirstName)
        <label>@Html.ValidationMessageFor(e => e.FirstName, "", new { @class = "text-danger" })</label>
        <p />
        <label class="p-2">Apellido: </label> @Html.TextBoxFor(e => e.LastName)
        <label> @Html.ValidationMessageFor(e => e.LastName, "", new { @class = "text-danger" })</label>
        <p />
        <label class="p-2">Titulo: </label> @Html.TextBoxFor(e => e.Title)
        <label> @Html.ValidationMessageFor(e => e.Title, "", new { @class = "text-danger" })</label>
        <p />
        <label class="p-2">Fecha de contratacion: </label> @Html.TextBoxFor(e => e.HireDate, new { placeholder = "MM/dd/yyyy"})
        <label> @Html.ValidationMessageFor(e => e.HireDate, "", new { @class = "text-danger" })</label>
        <p />
        <label class="p-2">Ciudad: </label> @Html.TextBoxFor(e => e.City)
        <label> @Html.ValidationMessageFor(e => e.City, "", new { @class = "text-danger" })</label>
        <p />
        <label class="p-2">Pais: </label> @Html.TextBoxFor(e => e.Country)
        <label> @Html.ValidationMessageFor(e => e.Country, "", new { @class = "text-danger" })</label>
        <p />
        <label class="p-2">Nro de teléfono: </label> @Html.TextBoxFor(e => e.HomePhone, new { placeholder = "(206) 555-9857" })
        <label> @Html.ValidationMessageFor(e => e.HomePhone, "", new { @class = "text-danger" })</label>
        <p />
        <input type="submit" class="btn btn-success" value="Guardar" />
    }
</body>