@model List<AppWeb.Models.PersonajesSW>

@{
    ViewBag.Title = "API Star Wars";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Star Wars</title>
</head>

<body>

    <h1> Listado de personajes de Star Wars</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col"> Altura </th>
                <th scope="col"> Peso </th>
                <th scope="col"> Color de pelo </th>
                <th scope="col"> Color de piel </th>
                <th scope="col"> Color de ojos </th>
                <th scope="col"> Año de nacimiento </th>
                <th scope="col"> Sexo </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Height</td>
                        <td>@item.Mass</td>
                        <td>@item.Hair_color</td>
                        <td>@item.Skin_color</td>
                        <td>@item.Eye_color</td>
                        <td>@item.Birth_year</td>
                        <td>@item.Gender</td>
                    </tr>
                }

            }
        </tbody>
    </table>

</body>
</html>